<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="start">
        <classes>
           <!--  <class name="herbalife.callapi.GetInventory"/> -->
          <!--   <class name="herbalife.callapi.GetToken"/> -->
            <class name="herbalife.callapi.GetMobileStatisticInfo"/>
            <!-- <class name="herbalife.testcase.buy.RSO_1"/> -->
        </classes>
    </test>
</suite>