<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

    <test name="startbyIE">
    	<parameter name="para" value="parameter_IE.properties" />
        <classes>
            <class name="herbalife.testcase.code.NewTest"/>
        </classes>
    </test>

   <test name="startbyChrome">
    	<parameter name="para" value="parameter_chrome.properties" />
    
        <classes>
            <class name="herbalife.testcase.code.NewTest"/>
        </classes>
    </test>
    
    <test name="startbyFirefox">
    	<parameter name="para" value="parameter_firefox.properties" />
    
        <classes>
            <class name="herbalife.testcase.code.NewTest"/>
        </classes>
    </test>
</suite>